html {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  min-height: 100vh;
  color: #fff;
  background-image: linear-gradient(-20deg, #ff6f61 0%, #ffc0cb 100%);
  background-size: cover;
}

h1 {
  margin: 0 auto 10px auto;
  color: #fff;
}

p {
  margin: 0;
}

.app-message {
  height: 20px;
  margin: 10px auto 20px auto;
}

.app-container {
  width: 250px;
  height: 500px; /* more space for buttons */
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}

.app-circle {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.circle.shape {
  pointer-events: none;
}

.semi-circle {
  position: absolute;
  width: 100px;
  height: 200px;
  box-sizing: border-box;
  border: solid 6px;
}

.left-side {
  top: 0;
  left: 0;
  transform-origin: right center;
  transform: rotate(0deg);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: none;
  z-index: 1;
}

.right-side {
  top: 0;
  left: 100px;
  transform-origin: left center;
  transform: rotate(0deg);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: none;
}

.circle {
  border-color: #ff6f61;
}

.circle-mask {
  border-color: #ffc0cb;
}

.app-counter-box {
  font-family: "Droid Sans Mono", monospace;
  font-size: 250%;
  position: relative;
  top: 50px;
  color: #fff;
}

button {
  display: block;
  margin: 10px auto;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

button:hover {
  color: #ffebef;
}

input {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  text-align: center;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

input:focus {
  outline: none;
}
